<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>

<body>
    <div>
        <nav class="nav">
            <a class="nav-link" href="/">Show restaurant</a>
            <a class="nav-link" href="/add">Add restaurant</a>
            <a class="nav-link" href="/random">Random a restaurnt</a>
        </nav>
    </div>
    <div>
        <h1 class="display-4" style="text-align: center; margin: auto">Add Restaurant </h1>
        <br>
    </div>
    <form class="needs-validation" method="POST" style="margin:auto 25%" id="addRestaurant" action="/submit">
        <!--Submit at index.js will handle the rest-->
        <div class="form-group">

            <label for="name">Name of Restaurant</label>
            <input name="name" class="form-control" placeholder="Restaurant Name" id="name" required>
        </div>
        <div class="form-group">

            <label for="businessHour">Business Hour of Restaurant</label>
            <input id="businessHour" name="businessHour" class="form-control" placeholder="opening hours - closing hours. eg. 8am to 10pm"
                required>
        </div>
        <div class="form-group">

            <label for="address">Address of Restaurant</label>
            <input id="address" name="address" class="form-control" placeholder="Full address" required>
        </div>
        <div class="form-group">
            <label for="location">Location of Restaurant</label>
            <input id="location" name="location" class="form-control" placeholder="Area of the restaunt. Eg. Bangsar, Kepong, Jinjang "
                required>
        </div>
        <button type="submit" class="btn btn-primary mb-2" value="submit">Add Restaurant</button>
    </form>

    <!-- Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>